:host ::ng-deep .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

:host ::ng-deep .donateButton {
    background-color: #003049;
    border: solid #BFD7EA;
    margin: 4px;
    color: #BFD7EA;
}