.infoComponent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid lightgray;
    background-color: lightgray;
}

img {
    display: fixed;
    position: relative;
    padding: 0px 0px 0px 20px;
}

.textAbout {
    width: 600px;
    height: 175px;
    text-align: center;
    display: flex;
    position: absolute;
    top: 510px;
    border: 2px solid beige;
    background-color: beige;
    z-index: 2;
}