/* added flex here and moved everything to center */
:host ::ng-deep .p-tabmenu-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* changes everyting but tabs */
:host ::ng-deep ul.p-tabmenu-nav.p-reset {
    background-color: red;
}

/* changes all tabs except home */
:host ::ng-deep a.p-ripple.p-element.p-menuitem-link {
    background-color: red;
    color: black;
}

/* Fixes the first tab */
:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background-color: rgb(229, 145, 145);
    color: black;
    border-color: black;
    
}

:host ::ng-deep .p-menuitem-link-active {
    background: chartreuse;
}

